body {
    margin: 0;
}

div.wrapper {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #aeaeae;
    min-height: 2rem;
    display: flex;
    justify-content: space-between;
}

nav {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    line-height: 2.4rem;
    border-bottom: 2px solid black;
}

.headerIcons {
    display: flex;
    align-items: center;
    gap: 1rem;
}



main {
    max-width: 1000px;
    background-color: hotpink;
    min-height: 2rem;
    min-width: 100px;
    align-self: center;
}

main article .Chapter1 {
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-weight: bolder;
}

main article h1 .thin {
    font-weight: lighter;
    font-style: italic;
  }
  
main article h1 .bold {
    font-weight: bolder;
  }

main article .BY {
    font-style: normal;
    font-weight: 700;
}
  
.chapterHeading {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

main article .chapterHeading p {
    font-family: 'EB garamond';
}

.recipeCardsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    grid-template-areas: "greenItem greenItem greenItem"
        "purpleItem redItem blueItem"
}

.recipeCard {
    min-height: 6rem;
    min-width: 6rem;
}

.greenBg {
    background-color: green;
    grid-area: greenItem;
    height: 416px;
}

.purpleBg {
    background-color: purple;
    grid-area: purpleItem;
}

.redBg {
    background-color: red;
    grid-area: redItem;
}

.blueBg {
    background-color: blue;
    grid-area: blueItem;
}