body {
    margin: 0;
    background-color: #dadee3;
}

div.wrapper {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #DADEE3;
    min-height: 2rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #22222233;
}

a {
    text-decoration: none;
    color: #222222;
    font-size: 12px;
    font-weight: 700;
}

p {
    font-size: 12px;
}

nav {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    line-height: 2.5rem;
    border-bottom: 2px solid black;
    padding-left: 1rem;
    padding-right: 1rem;
}

.jellybeans {
    font-size: 12px;
}

.pancakesPlateText {
    padding: 1rem;
    background-color: white;
}

.pancakesPlateTextLarger {

}

h4 {
    font-size: 20px;
}

.heartsDotsAndArrow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.StarHeader {
    display: flex;
    align-items: baseline;
    gap: 3px;
}

.StarHeader div:nth-child(1) {color: #FFE350;}
.StarHeader div:nth-child(2) {color: #FFE350;}
.StarHeader div:nth-child(3) {color: #FFE350;}
.StarHeader div:nth-child(4) {color: #FFE350;}
.StarHeader div:nth-child(5) {color: #C4C4C4;}

.ArrowButton {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5rem;
}

aside {
    padding: 1rem;
    border-left: #22222233 solid 1px;
}

.headerIcons {
    display: flex;
    align-items: center;
    gap: 1rem;
}


main {
    max-width: 1000px;
    min-height: 2rem;
    min-width: 100px;
    align-self: center;
}

.Chapter1 {
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 17px;
}

.thin {
    font-weight: lighter;
    font-style: italic;
  }
  
.bold {
    font-weight: bolder;
  }

.BY {
    font-style: normal;
    font-weight: 700;
}
  
.chapterHeading {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.recipeCardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    grid-template-areas: "greenItem greenItem greenItem"
        "purpleItem redItem blueItem";
}

.greenBg {
    grid-area: greenItem;
    height: 416px;
    display: flex;
}


.purpleBg {
    background-color: white;
    grid-area: purpleItem;
    width: 317px;
    margin-block: unset;
    margin-inline: unset;
}

.redBg {
    background-color: white;
    grid-area: redItem;
    width: 317px;
    margin-block: unset;
    margin-inline: unset;
}

.blueBg {
    background-color: #FFE350;
    grid-area: blueItem;
    width: 317px;
}

.viewallrecipesButton {
    display: block;
    background-color: #fff;
    padding: 1.5rem 2.7rem;
    cursor: pointer;
    border-radius: 35px;
    font-size: 12px;
    font-weight: 800;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.recipeCategoriesContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 66px;
}

h6 {
    font-size: 14px;
    font-weight: bold;
}

.dessertsText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.breakfast-text, .lunch-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.descriptionText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-left: 1rem;
}

.StarBreakfast, .StarLunch {
    display: flex;
    align-items: baseline;
    gap: 3px;
    margin-left: 1rem;
}

.StarBreakfast div:nth-child(1) {color: #FFE350;}
.StarBreakfast div:nth-child(2) {color: #FFE350;}
.StarBreakfast div:nth-child(3) {color: #FFE350;}
.StarBreakfast div:nth-child(4) {color: #C4C4C4;}
.StarBreakfast div:nth-child(5) {color: #C4C4C4;}



.StarLunch div:nth-child(1) {color: #FFE350;}
.StarLunch div:nth-child(2) {color: #FFE350;}
.StarLunch div:nth-child(3) {color: #FFE350;}
.StarLunch div:nth-child(4) {color: #FFE350;}
.StarLunch div:nth-child(5) {color: #FFE350;}


.starNumber {
    margin-left: 10px;
    font-weight: 700;
    color: black;
}

.dinner-text, .dinnerText {
    display: flex;
    justify-content: center;
}


.quoteContainerImage {
    margin-left: 22rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.jumbotron {
    position: relative;
    text-align: center;
    color: white;
}



.jumbotronText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

.underline {
    border-bottom: 4px solid white;
    width: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotronHeading {

}

.jumbotroneSunday {
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 42px;
    max-width: 28rem;
}

.boldMenu {
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
}

.jumbotroneBrunch {
font-size: 42px;
}

.jumbotronButton {
    background-color: #FFE350;
    display: block;
    padding: 1.5rem 2.7rem;
    cursor: pointer;
    border-radius: 35px;
    font-size: 11px;
    font-weight: 800;
    margin-bottom: 5rem;
}

.viewNext {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bolder {
    font-size: 12px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}

.thinner {
    font-size: 32px;
    font-style: italic;
    font-weight: lighter;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

